<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QRcode generator | kernel-panic.pl</title>

    <!--CSS-->
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
</head>
<body>
    <!--Header-->
    <header>
        <h1>LOL</h1>
    </header>

    <!--Form-->
    <form action="/qr" method="post">

    </form>

    <!--Footer-->
    <footer>

    </footer>
</body>
</html>